#butaum{
  color: papayawhip;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.lista{
  color: tomato;
}
.lista2>li:nth-child(3){
  color: blue;
}
body{
  background-color: grey;
}

h1{
  text-align: center;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.logo:hover {
    transform: scale(2);
}
